@import '../inc/vars';

.home-page {
    overflow: hidden;
}
.hero-block {
    position: relative;
    padding-top: clamp(rem(45), vw(129), rem(129));
    padding-bottom: rem(166);

    @include tablet-sm {
        background: rgb(213, 204, 195);
        padding-bottom: rem(0);
    }
    &__overlay {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-position: center;
        background-size: cover;
    }

    &__overlay {
        @include tablet-sm {
            display: none;
        }
    }
    &__overlay-mob {
        display: none;
        @include tablet-sm {
            width: 100%;
            display: block;
            img {
                width: 100%;
            }
        }
    }

    &__btn {
        margin-top: rem(-104);
        @include desktop-md {
            margin-top: -7%;
        }
        @include tablet-sm {
            margin-top: rem(40);
            text-align: center;
            margin-left: rem(-58);
        }
    }

    &__img {
        img {
            max-width: rem(1260);
            width: 100%;
            @include desktop-md {
                width: 60%;
                margin-left: rem(140);
            }
            @include tablet-sm {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.services-block {
    padding: clamp(rem(40), vw(120), rem(120)) 0;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(20);
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: rem(16);
        }
    }
    &__item {
        height: rem(405);

        @include desktop-md {
            height: rem(355);
        }
        @include tablet-smm {
            height: rem(222);
        }
        display: flex;
        align-items: end;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: rem(2) clamp(rem(8), vw(28), rem(28));
        transition: all 0.3s;
        &:hover {
            background-size: 110% 110%;
            h3,
            span {
                opacity: 0.7;
            }
        }
    }
    h3 {
        color: rgb(248, 244, 241);
        font-family: 'Calypso';
        font-size: clamp(rem(24), vw(40), rem(40));
        font-weight: 400;
        text-transform: uppercase;
        width: 70%;
        transition: all 0.3s;
    }
    span {
        position: relative;
        width: rem(128);
        height: rem(96);
        margin: rem(6);
        @include tablet-sm {
            width: rem(64);
            height: rem(48);
        }
        &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.3s;
            background-size: cover;
            background-image: url('./../../images/btn-white.svg');
        }
    }
}

.discount-block {
    padding: rem(40) 0;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7%;
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(16);
        }
    }
    img {
        max-height: rem(550);
        @include tablet-smm {
            margin: auto;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__description {
        margin-bottom: clamp(rem(16), vw(24), rem(24));
    }
}

.cabinet-block {
    padding: clamp(rem(40), vw(80), rem(80)) 0;
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(20);
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(8);
        }
        .grid-image {
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.about-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    .container {
        display: grid;
        grid-template-columns: 1.05fr 0.95fr;
        gap: 6%;
        max-width: rem(1390);
        margin: auto;
        @include desktop-md {
            max-width: rem(1250);
        }
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }

    &__img {
        display: flex;
        gap: rem(20);
        &-first {
            margin-top: clamp(rem(16), vw(55), rem(55));
        }
    }
    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__description {
        margin-bottom: clamp(rem(16), vw(24), rem(24));
    }
}

.benefits-block {
    padding: clamp(rem(28), vw(40), rem(40)) 0 clamp(rem(28), vw(80), rem(80));
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: rem(1390);
        margin: auto;
        gap: 5%;
        @include desktop-md {
            max-width: rem(1250);
        }
        @include tablet-smm {
            grid-template-columns: repeat(2, 1fr);
            gap: rem(24);
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: rem(16);
        }
    }

    &__item-img {
        margin-bottom: clamp(rem(8), vw(20), rem(20));
        img {
            transition: all 0.3s;
            margin: auto;
        }
    }
    h3 {
        color: #000000;
        text-align: center;
        font-family: 'Century Gothic';
        font-size: clamp(rem(16), vw(24), rem(24));
        text-transform: uppercase;
        margin-bottom: rem(8);
        font-weight: 400;
    }
    &__item-desc {
        text-align: center;
        @include tablet-sm {
            width: 90%;
            margin: auto;
        }
    }
    &__item {
        transition: all 0.3s;
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.injection-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;

    &__top {
        display: flex;
        align-items: center;
        gap: rem(20);
        justify-content: space-between;
        h2 {
            max-width: rem(500);
            @include tablet-md {
                max-width: 50%;
            }
            @include tablet-sm {
                max-width: 80%;
            }
        }
        @include tablet-sm {
            flex-direction: column;
            align-items: normal;
        }
    }
    &__link {
        margin-right: rem(60);
        @include tablet-sm {
            margin-right: 0;
            margin-bottom: rem(20);
        }
    }
    &__box {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;
        padding: clamp(rem(14), vw(30), rem(30)) clamp(rem(24), vw(40), rem(40));
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: 0;
        }
        h3 {
            color: rgb(23, 22, 20);
            font-family: 'Century Gothic';
            font-size: clamp(rem(16), vw(24), rem(24));
            font-weight: 400;
            text-transform: uppercase;
            margin-top: rem(20);
        }
    }
    &__item-box-item {
        border-bottom: 1px solid rgb(125, 121, 111);
        padding: rem(16) rem(12);
        display: flex;
        gap: rem(20);
        justify-content: space-between;
        @include tablet-sm {
            padding: 8;
        }
        .procedure,
        .price {
            font-size: clamp(rem(12), vw(16), rem(16));
        }
    }
}
.aesthetic-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;

    &__top {
        display: flex;
        align-items: center;
        gap: rem(20);
        justify-content: space-between;
        h2 {
            max-width: rem(500);
            @include tablet-md {
                max-width: 50%;
            }
            @include tablet-sm {
                max-width: 80%;
            }
        }
        @include tablet-sm {
            flex-direction: column;
            align-items: normal;
        }
    }
    &__link {
        margin-right: rem(60);
        @include tablet-sm {
            margin-right: 0;
            margin-bottom: rem(20);
        }
    }
    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: rem(16);
        }
    }

    &__left {
        background: rgb(213, 204, 195);
        padding: clamp(rem(24), vw(40), rem(40));
    }
    &__item {
        border-bottom: 1px solid rgb(125, 121, 111);
        padding: rem(16) rem(12);
        display: flex;
        gap: rem(20);
        justify-content: space-between;
        @include tablet-sm {
            padding: 8;
        }
        .procedure,
        .price {
            font-size: clamp(rem(12), vw(16), rem(16));
        }
    }

    &__img {
        img {
            height: 100%;
            object-fit: cover;
            object-position: right bottom;
        }
    }
}

.selection-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6%;
        max-width: rem(1390);
        margin: auto;
        @include desktop-md {
            max-width: rem(1250);
        }
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }

    &__img {
        display: flex;
        @include tablet-smm {
            order: 2;
        }
        img {
            margin-top: auto;
            margin-left: auto;
            @include tablet-smm {
                margin-left: 0;
            }
        }
    }
    &__box {
        margin-bottom: rem(40);
        @include tablet-smm {
            margin-bottom: 0;
        }
        &-img {
            margin-bottom: clamp(rem(16), vw(40), rem(40));
            @include tablet-smm {
                display: flex;
                img {
                    margin-left: auto;
                }
            }
        }
        h2 {
            background: linear-gradient(127.78deg, rgb(195, 154, 45), rgb(234, 211, 109), rgb(201, 160, 52));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-transform: uppercase;
        }
    }
    &__description {
        margin-bottom: clamp(rem(16), vw(24), rem(24));
        color: rgb(193, 189, 174);
    }

    &__link {
        @include tablet-smm {
            text-align: right;
            margin-right: rem(60);
        }
    }
}

.testimonials-block {
    padding: clamp(rem(40), vw(80), rem(80)) 0;
    @include desktop-md {
        padding: rem(40) 0;
    }
    position: relative;

    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__top {
        display: flex;
        align-items: center;
        gap: rem(8);
        h3 {
            font-size: rem(16);
            font-weight: 400;
        }
        span {
            color: rgb(125, 121, 111);
            font-size: rem(14);
        }
    }
    .grid-image-box {
        display: flex;
        flex-direction: column;
        gap: rem(6);
        background: rgb(213, 204, 195);
        padding: clamp(rem(8), vw(16), rem(16));
    }

    &__avatar {
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 auto;
        img {
            object-fit: cover;
        }
    }
}

.contact-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__box {
        max-width: rem(680);
        margin: auto;
        h2 {
            text-align: center;
        }
    }
    &__description {
        text-align: center;
        margin-bottom: clamp(rem(16), vw(40), rem(40));
    }
}

.map-block {
    padding-top: clamp(rem(24), vw(80), rem(80));
    &__top {
        display: flex;
        align-items: center;
        gap: rem(20);
        justify-content: space-between;
        padding-bottom: clamp(rem(24), vw(80), rem(80));

        @include tablet-sm {
            flex-direction: column;
            align-items: center;
        }
				h2{
					@include tablet-sm {
						text-align: center;
					}
				}
    }
    &__link {
        margin-right: rem(60);
        @include tablet-sm {
            margin-right: 0;
            margin-bottom: rem(20);
            margin-left: rem(-58);
        }
    }
    &__map {
        iframe {
            width: 100%;
            @include tablet-sm {
                height: rem(200);
            }
        }
    }
}

