@import '../inc/vars';

.home-page {
    overflow: hidden;
}
.hero-block {
    position: relative;
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    .container {
        display: grid;
        grid-template-columns: 1.13fr 0.87fr;
        @include tablet-smm {
            gap: rem(20);
            grid-template-columns: 1fr;
        }
    }
    h1 {
        @include tablet-smm {
            text-align: center;
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(80);
        @include tablet-smm {
            gap: rem(24);
        }
    }

    &__btn-box {
        display: flex;
        gap: rem(24);
        @include tablet-sm {
            flex-direction: column;
        }
    }

    &__img {
        position: relative;
        &-benefits {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: rem(15);
            h3 {
                color: rgb(248, 248, 248);
                font-family: 'Unbounded';
                font-size: clamp(rem(10), vw(24), rem(24));
                font-weight: 500;
                min-height: rem(110);
                padding: 0 rem(24);
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgba(31, 30, 29, 0.2);
                border-right: 1px solid rgba(31, 30, 29, 0.2);
                border-radius: rem(16);
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.1);
                width: fit-content;
                @include desktop-md {
                    min-height: rem(80);
                    border-radius: rem(8);
                }
                @include tablet-sm {
                    min-height: rem(44);
                    padding: 0 rem(12);
                }
            }
            .caption-1 {
                transform: rotate(-15deg);
                margin-bottom: rem(-25);
            }
            .caption-2 {
                transform: rotate(15deg);
                margin-left: auto;
            }
            .caption-3 {
                transform: rotate(15deg);
                margin-bottom: rem(-25);
            }
            .caption-4 {
                transform: rotate(-15deg);
                margin-left: auto;
                margin-bottom: rem(-15);
            }
            &-item {
                // width: fit-content;
            }
        }
    }
}

.about-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    .container {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;
        gap: 7%;
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }
    h2 {
        margin-bottom: clamp(rem(16), vw(40), rem(40));
        p {
            margin-bottom: 0;
        }
    }

    &__img {
        display: flex;
        @include tablet-smm {
            order: 2;
            img {
                max-width: rem(500);
                margin: auto;
                width: 100%;
            }
        }
        img {
            object-fit: cover;
        }
    }
    &__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__desc {
        width: 90%;
        margin: 0 auto;
    }
}

.about-school {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding-bottom: clamp(rem(24), vw(80), rem(80));
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }

    &__img {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: rem(40);
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        text-align: center;
    }

    &__services {
        margin: clamp(rem(24), vw(40), rem(40)) 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(40);
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(24);
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: rem(8);
        }

        &-item {
            border-radius: rem(24);
            backdrop-filter: blur(20px);
            background: rgb(47, 47, 47);
            padding: rem(16) clamp(rem(8), vw(16), rem(16));
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul {
                margin-left: rem(24);
            }
            li {
                margin-bottom: rem(16);
                font-size: clamp(rem(14), vw(18), rem(18));
                font-weight: 500;
            }
            li:last-child {
                margin-bottom: rem(0);
            }
        }
    }

    &__caption {
        max-width: rem(1200);
        margin: auto;
        text-align: center;
    }
}

.benefits-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;

    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    &__item {
        padding: rem(40);
        border-radius: rem(24);
        border: 2px solid rgb(47, 47, 47);
        backdrop-filter: blur(20px);
        background-color: rgba(248, 200, 69, 0);
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: rem(150);
        border-radius: rem(16);
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        &:hover {
            background-color: rgb(248, 200, 69);
            .desc {
                color: rgb(31, 30, 29);
            }
        }
        @include tablet-smm {
            padding: rem(16);
            min-height: rem(100);
        }

        &-desc {
            transition: all 0.3s ease 0s;
            text-align: center;
        }
    }
}

.our-help {
    padding: clamp(rem(24), vw(80), rem(80)) 0;

    h2 {
        text-align: center;
    }

    &__services {
        background-size: cover;
        margin: clamp(rem(24), vw(40), rem(40)) 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(40) 12%;
        border-radius: rem(40);
        padding: clamp(rem(24), vw(55), rem(55)) clamp(rem(16), vw(40), rem(40));
        background-repeat: no-repeat;
        background-position: cover;
        overflow: hidden;
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(24) 6%;
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: rem(8);
        }

        &-item {
            border-radius: rem(24);
            backdrop-filter: blur(20px);
            background: rgba(255, 255, 255, 0.1);
            padding: clamp(rem(16), vw(24), rem(24));
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: rem(120);
            @include tablet-sm {
                min-height: rem(90);
            }
            p {
                margin-bottom: 0;
            }
        }
    }

    &__caption {
        max-width: rem(1200);
        margin: auto;
        text-align: center;
    }
}

.we-work {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding-bottom: clamp(rem(24), vw(80), rem(80));
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
        &-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-btn {
            margin-top: clamp(rem(24), vw(40), rem(40));
        }
        ul {
            margin-left: rem(24);
        }
        li {
            margin-bottom: rem(8);
        }
        li:last-child {
            margin-bottom: rem(0);
        }
    }
    &__img {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: rem(40);
        }
    }
    &__swiper {
        width: 80%;
    }
    &__course {
        border-radius: rem(24);
        text-align: center;
        background: rgb(47, 47, 47);
        padding: rem(40);
        min-height: rem(80);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: rem(160);
        font-size: clamp(rem(16), vw(24), rem(24));
        @include tablet-sm {
            padding: rem(16) rem(8);
            min-height: rem(80);
        }
    }

    &__courses-box {
        position: relative;
    }

    .swiper-nav {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .nav {
            position: absolute;
            border: none;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
                svg {
                    rect {
                        fill: rgb(94, 174, 167);
                    }
                }
            }
            svg {
                @include tablet-smm {
                    width: rem(24);
                    height: rem(24);
                }
                rect {
                    transition: all 0.3s ease 0s;
                }
            }
        }
        .swiper-next-courses {
            right: 0;
        }
    }
}

.teachers-block {
    padding: clamp(rem(40), vw(80), rem(80)) 0;
    h2 {
        @include desktop-md {
            margin-bottom: rem(16);
        }
    }
    &__box {
        display: flex;
        gap: 5%;
        @include desktop-md {
            flex-wrap: wrap;
            gap: rem(24);
        }
    }
    &__services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(40);
        height: fit-content;
        margin: auto;
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(8);
        }

        &-item {
            border-radius: rem(24);
            padding: clamp(rem(8), vw(24), rem(24));
            display: flex;
            flex-direction: column;
            justify-content: center;
            // min-height: rem(170);
            border: 2px solid rgb(47, 47, 47);
            text-align: center;
        }
    }
    &__courses {
        width: 60%;
        @include desktop-md {
            width: 100%;
        }
    }
    &__img {
        img {
            max-height: rem(274);
            width: 100%;
            object-fit: cover;
            border-radius: 0 0 rem(24) rem(24);
            object-position: top;
        }
    }
    &__name {
        color: rgb(31, 30, 29);
        font-size: clamp(rem(18), vw(24), rem(24));
        font-weight: 500;
        margin-bottom: rem(6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(4);
        flex-wrap: wrap;
        span {
            padding: rem(4) rem(8);
            border-radius: rem(8);
            background: rgb(94, 174, 167);
            color: rgb(248, 248, 248);
            font-weight: 500;
            font-family: 'Unbounded';
            font-size: clamp(rem(12), vw(16), rem(16));
        }
    }
    &__desc {
        color: rgb(31, 30, 29);
        p {
            margin-bottom: rem(4);
        }
    }
    &__inf {
        min-height: rem(350);
        background-color: white;
        padding: rem(30) rem(16) rem(8) rem(16);

        margin-top: rem(-20);
        @include tablet-sm {
            min-height: auto;
        }
    }

    &__swiper {
        width: 80%;
    }

    &__courses-box {
        position: relative;
    }
    .swiper-slide {
        height: auto;
        position: relative;
        border-radius: 0 0 rem(24) rem(24);
        overflow: hidden;
        &::after {
            content: '';
            width: 100%;
            height: 60%;
            left: 0;
            bottom: 0;
            background-color: white;
            position: absolute;
            z-index: -1;
        }
        img {
            width: 100%;
            object-fit: cover;
            max-height: rem(270);
            object-position: top;
            @include mobile-sm {
                max-height: rem(200);
            }
        }
    }
    .swiper-nav {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .nav {
            position: absolute;
            border: none;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
                svg {
                    rect {
                        fill: rgb(94, 174, 167);
                    }
                }
            }
            svg {
                @include tablet-smm {
                    width: rem(24);
                    height: rem(24);
                }
                rect {
                    transition: all 0.3s ease 0s;
                }
            }
        }
        .swiper-next-teachers {
            right: 0;
        }
    }
}

.testimonials-block {
    padding: clamp(rem(40), vw(80), rem(80)) 0;
    position: relative;
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__box {
        position: relative;
    }
    &__swiper {
        width: 80%;
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        gap: rem(40);
        @include tablet-sm {
            gap: rem(8);
        }
    }

    .swiper-nav {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .nav {
            position: absolute;
            border: none;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
                svg {
                    rect {
                        fill: rgb(94, 174, 167);
                    }
                }
            }
            svg {
                @include tablet-smm {
                    width: rem(24);
                    height: rem(24);
                }
                rect {
                    transition: all 0.3s ease 0s;
                }
            }
        }
        .swiper-next-testimonials {
            right: 0;
        }
    }
    &__btn {
        text-align: center;
        margin-top: clamp(rem(24), vw(40), rem(40));
        @include tablet-sm {
            a {
                width: auto;
                display: inline-flex;
            }
        }
    }
}

.price-block {
    padding: clamp(rem(40), vw(80), rem(80)) 0;
    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__btn {
        text-align: center;
        margin-top: clamp(rem(24), vw(40), rem(40));
        @include tablet-sm {
            a {
                width: auto;
                display: inline-flex;
            }
        }
    }

    &__box {
        border-radius: rem(40);
        padding: clamp(rem(16), vw(80), rem(80)) clamp(rem(8), vw(80), rem(80));
        background: rgb(47, 47, 47);
    }
    &__languages {
        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: rem(16) 0;
            margin-bottom: clamp(rem(16), vw(40), rem(40));
        }

        &-item {
            list-style: none;
            padding: 0 clamp(rem(16), vw(40), rem(40));
            border-right: 3px solid rgb(31, 30, 29);
            &:last-child {
                border-right: none;
            }
            @include tablet-sm {
                border-right: none;
            }
            a {
                color: rgb(248, 248, 248);
                font-family: 'Unbounded';
                font-size: clamp(rem(16), vw(32), rem(32));
                font-weight: 700;
                text-align: center;
                transition: all 0.3s ease 0s;
            }
            &.ui-state-active {
                a {
                    color: rgb(94, 174, 167);
                }
            }
        }
    }

    &__course-duration {
        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: rem(80);
            margin-bottom: clamp(rem(24), vw(40), rem(40));

            @include tablet-sm {
                gap: rem(16);
            }
        }
        &-item {
            list-style: none;
            border: 2px solid rgb(31, 30, 29);
            border-radius: rem(24);
            padding: clamp(rem(12), vw(24), rem(24));
            display: flex;
            align-items: center;
            @include tablet-sm {
                min-height: rem(75);
            }
            a {
                h3 {
                    color: rgb(248, 248, 248);
                    font-family: 'Unbounded';
                    font-size: clamp(rem(14), vw(18), rem(18));
                    font-weight: 500;
                    text-align: center;
                }
                span {
                    color: rgb(248, 248, 248);
                    font-family: Unbounded;
                    font-size: clamp(rem(12), vw(16), rem(16));
                    font-weight: 300;
                }
            }
            &.ui-state-active {
                background: rgb(94, 174, 167);
                border: 2px solid rgb(94, 174, 167);
                a {
                    h3,
                    span {
                        color: rgb(31, 30, 29);
                    }
                }
            }
        }
    }

    &__type-name {
        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: rem(40);
            margin-bottom: clamp(rem(24), vw(40), rem(40));
            @include tablet-smm {
                flex-direction: column;
                gap: rem(6);
                align-items: center;
            }
        }
        &-item {
            list-style: none;
            a {
                color: rgb(248, 248, 248);
                font-family: 'Unbounded';
                font-size: clamp(rem(14), vw(24), rem(24));
                font-weight: 500;
                text-align: center;
                transition: all 0.3s ease 0s;
            }
            &.ui-state-active {
                a {
                    color: rgb(94, 174, 167);
                }
            }
        }
    }

    &__groups-courses {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: rem(40);
        margin-bottom: clamp(rem(24), vw(40), rem(40));
        @include tablet-smm {
            flex-direction: column;
            gap: rem(16);
        }
        h4 {
            text-align: center;
            margin-bottom: clamp(rem(8), vw(16), rem(16));
        }
        h3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(25);
            span {
                display: none;
            }
        }
        h4,
        h3,
        .lessons {
            color: rgb(248, 248, 248);
            font-family: 'Unbounded';
            font-size: clamp(rem(14), vw(18), rem(18));
            font-weight: 500;
        }
        .lessons {
            margin-top: rem(6);
        }
        .accordion-item {
            border: 2px solid rgb(31, 30, 29);
            border-radius: rem(24);
            padding: clamp(rem(16), vw(24), rem(24));
        }
        svg {
            transition: all 0.3s ease 0s;
        }
        .ui-accordion-header-active {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.certificate-block {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    .title {
        text-align: center;
        margin-bottom: clamp(rem(16), vw(40), rem(40));
    }

    &__top {
        padding: clamp(rem(30), vw(90), rem(90)) clamp(rem(16), vw(70), rem(70));
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        gap: rem(40);
        border-radius: 40px;
        background: rgb(47, 47, 47);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
        &-box {
            @include tablet-smm {
                order: 2;
            }
        }
        &-btn {
            margin-top: rem(24);
        }
    }

    &__desc {
        font-size: clamp(rem(14), vw(18), rem(18)) !important;
    }
    &__img {
        display: flex;
        &-first {
            display: block;
            transform: rotate(-15deg) translateY(rem(90));
            position: relative;
            z-index: 2;
            animation: rotateAnimation 3s infinite alternate;
            @include tablet-smm {
                animation: none;
                transform: rotate(-15deg) translateX(rem(40)) translateY(rem(15));
            }
            transition: all 0.3s ease 0s;

            @keyframes rotateAnimation {
                from {
                    transform: rotate(-15deg) translateY(rem(90));
                }
                to {
                    transform: rotate(-7deg) translateY(rem(90));
                }
            }
        }
        &-second {
            transform: rotate(15deg) translateX(rem(-120)) translateY(rem(-60));
            animation: rotateAnimationTwo 3s infinite alternate;
            @include tablet-smm {
                animation: none;
                transform: rotate(15deg) translateX(rem(-40)) translateY(rem(-10));
            }
            @keyframes rotateAnimationTwo {
                from {
                    transform: rotate(15deg) translateX(rem(-120)) translateY(rem(-60));
                }
                to {
                    transform: rotate(7deg) translateX(rem(-120)) translateY(rem(-60));
                }
            }
        }
        @include tablet-smm {
            order: 1;
        }
    }
}

.archive-blog {
    padding: clamp(rem(24), vw(80), rem(80)) 0;

    h2 {
        text-align: center;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(40) rem(20);
        padding: clamp(rem(24), vw(40), rem(40)) 0;
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(16);
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        border-radius: 24px;
        background: rgb(248, 248, 248);
        overflow: hidden;
    }
    &__item-top {
        height: rem(286);

        margin-bottom: rem(8);
        display: flex;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }

        @include tablet-sm {
            height: rem(200);
        }
        @include tablet-sm {
            height: rem(151);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: rem(24);
        }
    }

    &__item-meta {
        color: rgb(31, 30, 29);
        font-family: 'Unbounded';
        font-size: clamp(rem(12), vw(16), rem(16));
        font-weight: 300;
        transition: all 0.3s;
        margin-bottom: clamp(rem(4), vw(8), rem(8));
    }

    &__item-info {
        padding: rem(8) clamp(rem(16), vw(24), rem(24));
    }
    h3 {
        a {
            color: rgb(31, 30, 29);
            font-family: 'Unbounded';
            font-size: clamp(rem(16), vw(24), rem(24));
            font-weight: 500;
            transition: all 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__link {
        text-align: center;
        @include tablet-sm {
            a {
                width: auto;
                display: inline-flex;
            }
        }
    }
}

