@import '../inc/vars';

body {
    position: relative;
    &.fixed {
        overflow: hidden;
    }

    &.is-active {
        header {
            @include tablet-md {
                overflow: visible;
            }
        }
    }
    header {
        overflow: hidden;
    }
}

.header {
    z-index: 10;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    padding: rem(16) 0;
    position: sticky;
    background: rgb(31, 30, 29);
    @include tablet-md {
        margin-bottom: rem(0);
        position: sticky;
    }
    &.sticky {
        position: sticky;
        background: rgb(31, 30, 29);
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(8);
        @include desktop-md {
            padding: 0 rem(15);
        }
    }

    .logo {
        position: relative;
        z-index: 12;
        @include tablet-md {
            margin-left: rem(0);
        }
        img {
            max-width: rem(160);
            @include tablet-md {
                max-width: rem(120);
            }
        }
    }
    nav {
        display: flex;
        gap: rem(24);
        align-items: center;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: rem(16);
            @include tablet-md {
                gap: rem(14);
            }
            @include tablet-md {
                gap: rem(24);
            }

            li {
                display: inline-block;
                position: relative;
                line-height: 1em;

                z-index: 2;

                &.menu-item-has-children {
                    display: flex;
                    gap: rem(4);
                    align-items: center;
                    i {
                        color: #fff;
                        height: fit-content;
                        transition: all 0.3s;
                    }
                    &:hover {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
                a {
                    color: rgb(248, 248, 248);
                    font-family: 'Unbounded';
                    font-size: rem(15);
                    font-weight: 500;
                    transition: all 0.3s;
                    padding: rem(10) 0;
                    &:hover {
                        color: rgb(94, 174, 167);
                    }
                }

                // Sub menu
                ul {
                    flex-direction: column;
                    gap: 0;
                    align-items: flex-start;
                    position: absolute;
                    z-index: 1;
                    width: rem(240);
                    background: rgb(6, 26, 54);
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    padding-top: rem(27);

                    li {
                        display: block;
                        color: $white;
                        display: block;
                        margin-bottom: 0;
                        padding: rem(8);
                        text-align: left;
                        text-transform: uppercase;
                        width: 100%;
                        background: rgb(37, 169, 225);
                        &::after {
                            display: none;
                        }

                        a {
                            color: $white;
                            &:hover {
                                color: rgb(15, 75, 160);
                            }
                        }
                    }

                    .menu-item-has-children {
                        position: relative;
                        // Sub menu
                        ul {
                            display: none;
                        }

                        &:hover {
                            > ul {
                                display: block;
                                top: 0;
                                right: 0;
                                bottom: auto;
                                transform: translateX(100%);
                                position: absolute;
                                width: 100%;
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                        .icon {
                            transform: translateY(-50%) rotate(-90deg);
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .menu-btn {
            margin-right: rem(52);

            &.menu-btn-mob {
                display: none;
                @include tablet-md {
                    display: block;
                }
            }
        }
    }
    .menu-btn-desc {
        @include tablet-md {
            display: none;
        }
    }

    .menu-toggle {
        visibility: visible;
        opacity: 1;
        position: relative;
        width: rem(30);
        height: rem(20);
        cursor: pointer;
        display: none;
        margin-left: auto;
        z-index: 99;
        cursor: pointer;

        &.is-active {
            small {
                transform: scale(0);
            }

            &::before {
                transform: rotate(45deg);
                top: rem(9);
            }

            &::after {
                transform: rotate(-45deg);
                bottom: rem(9);
                width: 100%;
            }
        }

        small {
            position: absolute;
            background: rgb(94, 174, 167);
            right: 0;
            top: rem(9);
            width: 60%;
            height: 3px;
            transition: all 0.1s;
            border-radius: rem(4);
        }

        &::before,
        &::after {
            content: '';
            background: rgb(94, 174, 167);
            position: absolute;
            width: 100%;
            height: rem(3);
            right: 0;
            transition: all 0.3s;
            border-radius: rem(4);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
            width: 100%;
        }
    }
    @include tablet-md {
        .menu-btn {
            margin-top: rem(24);
            width: fit-content;
        }
        nav {
            display: block;
            position: absolute;
            backdrop-filter: blur(40px);
            background: rgba(33, 33, 33, 0.6);
            right: -100%;
            top: 0;
            height: fit-content;
            z-index: 10;
            padding-top: rem(70);
            padding-left: rem(24);
            padding-right: rem(24);
            padding-bottom: rem(32);
            overflow: auto;
            transition: 0.3s ease-in-out;
            width: 100%;
            .btn {
                margin-top: rem(30);
            }

            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: rem(16);
                li {
                    transition: all 0.3s;
                    flex-wrap: wrap;
                    padding: 0;
                    &:hover {
                        .sub-menu {
                            height: auto;
                            margin-top: rem(8);
                        }
                    }
                    a {
                        padding: 0;
                    }
                    i {
                        padding: rem(2) rem(4);
                    }
                    .sub-menu {
                        position: relative;
                        height: 0;
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            &.is-active {
                display: block;
                right: 0;
            }
        }

        .menu-toggle {
            display: block;
            margin-left: rem(0);
        }
    }
}

.languages-menu {
    @include tablet-md {
        margin-top: rem(12);
    }
    a {
        color: $white;
        font-size: rem(16);
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.3s;
        padding: 0 rem(2);
        border-right: 1px solid $white;
        &:hover {
            opacity: 0.7;
        }
        &:last-child {
            border-right: none;
        }
        &:first-child {
            padding-left: 0;
        }
        &.active {
            background: linear-gradient(141.87deg, rgb(204, 149, 106), rgb(249, 231, 216), rgb(248, 204, 165), rgb(204, 149, 106), rgb(104, 67, 44));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}

