@import '../inc/vars';

body {
    position: relative;
    &.fixed {
        overflow: hidden;
    }

    &.is-active {
        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: rgba(0, 0, 0, 0.6);
        //     transition: 0.3s ease-in-out;
        //     top: 0;
        //     left: 0;
        //     z-index: 50;
        // }
    }
}

.header__top {
    padding: rem(8) 0;
    position: relative;
    z-index: 11;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(6);
    }
    a {
        /* H6 */
        color: rgb(0, 0, 0);
        font-size: clamp(rem(12), vw(14), rem(14));
        font-weight: 400;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
.header {
    z-index: 99;
    left: 0;
    width: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    overflow: visible;
    background: rgb(0, 0, 0);
    position: sticky;
    @include tablet-md {
        margin-bottom: rem(0);
        position: sticky;
    }
    &.sticky {
        position: sticky;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        img {
					width: rem(170);
            @include mobile-sm {
                width: rem(100);
                object-fit: cover;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: optimizeQuality;
            }
        }
    }
    nav {
        display: flex;
        gap: rem(40);
        align-items: center;

        .menu-btn-mob {
            display: none;
            @include tablet-md {
                display: block;
            }
        }
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: rem(40);

            li {
                display: inline-block;
                position: relative;
                line-height: 1em;

                z-index: 2;

                &.menu-item-has-children {
                    display: flex;
                    gap: rem(4);
                    align-items: center;
                    i {
                        color: rgb(248, 244, 241);
                        height: fit-content;
                        transition: all 0.3s;
                    }
                    &:hover {
                        i {
                            transform: rotate(180deg);
                            color: rgb(251, 251, 251);
                        }
                    }
                }
                a {
                    /* H5 upper */
                    /* H5 regular */
                    color: rgb(248, 244, 241);
                    font-family: 'Mulish';
                    font-size: clamp(rem(14), vw(16), rem(16));
                    font-weight: 400;

                    padding: rem(10) 0;
                    transition: all 0.3s;
                    text-transform: uppercase;
                    &:hover {
                        background: linear-gradient(127.78deg, rgb(195, 154, 45), rgb(234, 211, 109), rgb(201, 160, 52));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }

                // Sub menu
                ul {
                    flex-direction: column;
                    gap: 0;
                    align-items: flex-start;
                    position: absolute;
                    z-index: 1;
                    width: rem(240);
                    background: rgb(6, 26, 54);
                    visibility: hidden;
                    opacity: 0;
                    top: 100%;
                    left: 0;
                    padding-top: rem(27);

                    li {
                        display: block;
                        color: $white;
                        display: block;
                        margin-bottom: 0;
                        padding: rem(8);
                        text-align: left;
                        text-transform: uppercase;
                        width: 100%;
                        background: rgb(102, 114, 2);
                        &::after {
                            display: none;
                        }

                        a {
                            color: $white;
                            &:hover {
                                color: rgb(15, 75, 160);
                            }
                        }
                    }

                    .menu-item-has-children {
                        position: relative;
                        // Sub menu
                        ul {
                            display: none;
                        }

                        &:hover {
                            > ul {
                                display: block;
                                top: 0;
                                right: 0;
                                bottom: auto;
                                transform: translateX(100%);
                                position: absolute;
                                width: 100%;
                                padding-top: 0;
                                padding-bottom: 0;
                            }
                        }
                        .icon {
                            transform: translateY(-50%) rotate(-90deg);
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .menu-btn {
            i {
                padding: rem(3) rem(4) 0 0;
            }
        }
    }

    .menu-toggle {
        visibility: visible;
        opacity: 1;
        position: relative;
        width: rem(30);
        height: rem(20);
        cursor: pointer;
        display: none;
        margin-left: auto;
        z-index: 99;
        cursor: pointer;

        &.is-active {
            small {
                transform: scale(0);
            }

            &::before {
                transform: rotate(45deg);
                top: rem(9);
            }

            &::after {
                transform: rotate(-45deg);
                bottom: rem(9);
                width: 100%;
            }
        }

        small {
            position: absolute;
            background: linear-gradient(127.78deg, rgb(195, 154, 45) 12.056%, rgb(234, 211, 109) 40.204%, rgb(201, 160, 52) 89.261%);
            left: 0;
            top: rem(9);
            width: 60%;
            height: 2px;
            transition: all 0.1s;
        }

        &::before,
        &::after {
            content: '';
            background: linear-gradient(127.78deg, rgb(195, 154, 45) 12.056%, rgb(234, 211, 109) 40.204%, rgb(201, 160, 52) 89.261%);
            position: absolute;
            width: 100%;
            height: rem(2);
            right: 0;
            transition: all 0.3s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    @include tablet-md {
        .menu-btn {
            margin-top: rem(24);
        }
        nav {
            display: block;
            position: absolute;

            background: rgb(0, 0, 0);
            left: -100%;
            top: 0;
            height: 200vh;
            z-index: 10;
            padding-top: rem(90);
            padding-left: rem(24);
            padding-right: rem(24);
            overflow: auto;
            transition: 0.3s ease-in-out;
            width: fit-content;
            .btn {
                margin-top: rem(30);
            }

            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: rem(16);
                li {
                    transition: all 0.3s;
                    flex-wrap: wrap;
                    padding: 0;
                    &:hover {
                        .sub-menu {
                            height: auto;
                            margin-top: rem(8);
                        }
                    }
                    a {
                        padding: 0;
                    }
                    i {
                        padding: rem(2) rem(4);
                    }
                    .sub-menu {
                        position: relative;
                        height: 0;
                        padding: 0;
                        width: 100%;
                    }
                }
            }

            &.is-active {
                display: block;
                left: 0;

                .close {
                    position: absolute;
                    width: rem(25);
                    height: rem(25);
                    right: rem(15);
                    top: rem(15);
                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        width: rem(25);
                        height: rem(2);
                        background-color: $white;
                    }
                    &:after {
                        transform: rotate(45deg);
                    }

                    &::before {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .menu-toggle {
            display: block;
            margin-left: rem(0);
        }
    }
    .menu-btn-desc {
        display: block;
        @include tablet-md {
            display: none;
        }
    }
}

