.btn-tr {
    display: inline-flex;
    background: transparent;
    color: rgb(248, 200, 69);
    font-family: 'Unbounded';
    font-size: clamp(rem(12), vw(14), rem(14));
    font-weight: 500;
    padding: rem(18) rem(36);
    transition: all 0.3s;
    border: 2px solid rgb(248, 200, 69);
    border-radius: rem(60);
    &:hover {
        color: rgb(31, 30, 29);
        background: rgb(248, 200, 69);
    }
    @include tablet-sm {
        display: block;
        width: 100%;
        text-align: center;
    }
}
.btn,input[type=submit] {
    display: inline-flex;
    background: rgb(248, 200, 69);
    color: rgb(31, 30, 29);
    font-family: 'Unbounded';
    font-size: clamp(rem(12), vw(14), rem(14));
    font-weight: 500;
    padding: rem(18) rem(36);
    transition: all 0.3s;
    border: 2px solid rgb(248, 200, 69);
    border-radius: rem(60);
    &:hover {
        border: 2px solid rgb(94, 174, 167);
        background: rgb(94, 174, 167);
    }
    @include tablet-sm {
        display: block;
        width: 100%;
        text-align: center;
    }
}
input[type=submit]{
width: fit-content;
}
