.btn-bl {
    display: inline-flex;
	background:transparent;
    color: rgb(23, 22, 20);
    font-family: 'Century Gothic';
    font-size: clamp(rem(12), vw(16), rem(16));
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: rem(8) rem(20) rem(8) rem(0);
		border:none;
    &:hover {
        &::after {
            background-image: url('./../images/btn-bl-hv.svg');
        }
    }
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        width: rem(64);
        height: rem(48);
        top: 50%;
        right: rem(-60);
        transition: all 0.3s;
        background-size: cover;
        transform: translateY(-50%);
        background-image: url('./../images/btn-bl.svg');
    }
}
.btn {
    display: inline-flex;
	background:transparent;
    color: rgb(193, 189, 174);
    font-family: 'Century Gothic';
    font-size: clamp(rem(12), vw(16), rem(16));
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: rem(8) rem(20) rem(8) rem(0);border:none;
    &:hover {
        &::after {
            background-image: url('./../images/btn-white-hov.svg');
        }
    }
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        width: rem(64);
        height: rem(48);
        top: 50%;
        right: rem(-60);
        transition: all 0.3s;
        background-size: cover;
        transform: translateY(-50%);
        background-image: url('./../images/btn-white.svg');
    }
}

.form-submit {
    p {
        display: inline;
        position: relative;
         &:hover {
        &::after {
            background-image: url('./../images/btn-bl-hv.svg');
        }
    }
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        width: rem(64);
        height: rem(48);
        top: 50%;
        right: rem(-60);
        transition: all 0.3s;
        background-size: cover;
        transform: translateY(-50%);
        background-image: url('./../images/btn-bl.svg');
    }
    }
	
     
            text-align: center;
            margin-left: rem(-58);
        
    
}

