h1 {
    color: rgb(248, 248, 248);
    font-family: 'Unbounded';
    font-size: clamp(rem(30), vw(60), rem(60));
    font-weight: 700;
}

h2 {
    color: rgb(248, 248, 248);
    font-family: 'Unbounded';
    font-size: clamp(rem(24), vw(40), rem(40));
    font-weight: 700;
}
.caption {
    color: rgb(248, 248, 248);
    font-family: 'Unbounded';
    font-size: clamp(rem(16), vw(32), rem(32));
    font-weight: 700;
}
.desc {
    font-family: 'Unbounded';
    font-size: clamp(rem(14), vw(24), rem(24));
    font-weight: 300;
}

