@use 'inc' as *;

html {
    font-size: $bodyfontsize;
    scroll-behavior: smooth;
}

body {
    font-size: $bodyfontsize;
    font-family: 'Century Gothic';
    line-height: 1.25;
    font-weight: 400;
    color: rgb(23, 22, 20);
}
main {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
}
p {
    margin-bottom: rem(12);
}

.form-title {
    color: rgb(13, 13, 13);
    font-family: 'Mulish';
    font-size: clamp(rem(18), vw(32), rem(32));
    font-weight: 600;
    margin-bottom: clamp(rem(8), vw(16), rem(16));
    text-transform: unset;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    margin-bottom: clamp(rem(16), vw(24), rem(24));
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(8);
        @include tablet-md {
            grid-template-columns: 1fr;
        }
    }
    input,
    textarea {
        background: transparent;
        border: none;
        padding: clamp(rem(12), vw(16), rem(16));
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid rgb(13, 13, 13);

        &::placeholder {
            font-size: clamp(rem(12), vw(16), rem(16));
            font-weight: 400;
        }
    }
}
@include tablet-smm {
    .btn {
        display: block;
        margin: auto;
    }
}
.wpcf7-spinner {
    display: none;
}
.wpcf7 textarea {
    resize: none;
}
.wpcf7.js {
    margin: auto;
}
.default-template {
    padding: rem(24) 0;
    h1 {
        font-size: clamp(rem(22), vw(34), rem(34));
        margin-bottom: clamp(rem(8), vw(12), rem(12));
        color: #1b1b1b;
    }
    h2 {
        font-size: clamp(rem(20), vw(24), rem(24));
        margin-bottom: clamp(rem(6), vw(8), rem(8));
        color: #1b1b1b;
    }
    h3 {
        font-size: clamp(rem(18), vw(20), rem(20));
        margin-bottom: clamp(rem(6), vw(8), rem(8));
        color: #1b1b1b;
    }
    p,
    ul {
        margin-bottom: clamp(rem(6), vw(8), rem(8));
    }
}
@import '_layout';
@import 'ui/_button';
@import 'ui/_headings';
@import 'ui/_article';
@import 'ui/_aspect-ratio';
/* Default Page */
// @import 'inc/_default-content';
/* Form checkboxes  */
// @import "inc/_checkboxes";
// HEADER & FOOTER
@import 'partials/header';
@import 'partials/footer';

